/*global styles*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 1400px
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: auto;
}

h2 {
    color: #1f2937;
    font-weight: extra-bold;
    font-size: 36px;
}

ul {
    list-style: none;
}

h3 {
    font-size: 24px;
    margin: 5px 0px;
  }

p{
    margin: 5px auto;
  }

.body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    font-family: "Roboto", sans-serif;

}

/*header styles*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2937;
    height: 50px;
    padding: 10px 200px 0px 200px;

}

.navmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e5e7eb;
    gap: 10px;
    font-size: 18px;
}

.logo{
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.left-items {
    margin-right: auto;
}

.right-items {
    margin-left: auto;
}

.navitem {
    padding:0px 5px;
}

.navitem a {
    text-decoration: none;
    color:#e5e7eb
}

/*sections*/
.splash-section {
    display: flex;
    background-color: #1f2937;
    padding: 100px 200px;
    gap: 100px;
    color:#e5e7eb;
    text-align: left;
    font-size: 18px;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px 100px 100px;
}

.box-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 50px 200px;
    justify-content: stretch;
    align-items: stretch;
}

/*image gallery styles*/
.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 20px;

}

.gallery-image {
    height:200px;
    width:250px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.caption {
    display: block;
    color: gray;
    padding: 0px 10px;
    margin: 0px 10px;
}

/*footer styles*/

.footer {
    display: flex;
    color: #e5e7eb;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
}
/*other styles*/
.signup {
    padding: 5px;
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    margin: 5px auto;
    cursor: pointer;
  }

.box {
    display: flex;
    background-color: #3882f6;
    padding: 40px 120px;
    border-radius: 10px;
    gap: 200px;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

.quote-tag {
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

/* font family styles*/
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
