body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 1400px
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    font-family: "Roboto", sans-serif;

}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2937;
    height: 50px;
    padding: 0px 200px;

}

.navmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e5e7eb;
    gap: 10px;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 5px 0;
}

h2 {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.left-items {
    margin-right: auto;
}

.right-items {
    margin-left: auto;
}

.navitem {
    padding:0px 5px;
}

.navitem a {
    text-decoration: none;
    color:#e5e7eb
}

ul {
    list-style: none;
}

.splash {
    display: flex;
    background-color: #1f2937;
    padding: 100px 200px;
    gap: 100px;
    color:#e5e7eb;
    text-align: left;
}


.signup {
    padding: 5px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
  }

/* font code */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
